:root {
    --primary-color: #000; /* Black */
    --secondary-color: #fff; /* White */
    --accent-color: #d9d9d9;
    --highlight-color: #fff; /* White */
    --font-family: 'Arial', sans-serif;
    --font-family-2: 'Roboto', sans-serif;
    --grey-color: #ffffff98;
    --input-border-color: #c4c4c4;
    --input-focus-border-color: #007bff; /* Blue focus color */
    --button-bg-color: #007bff;
    --button-text-color: #fff;
    --button-hover-bg-color: #0056b3; /* Darker blue */
}

/* Fonts */
.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    background-color: var(--secondary-color);
}

/* HOME FOR DESKTOP */

/* Header */
.header {
    background-color: var(--secondary-color);
    position: sticky; 
    top: 0; 
    z-index: 1000; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Top Info */
.top-info {
    overflow: hidden; 
    white-space: nowrap; 
    font-size: 12px;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    padding: 10px;
    padding-left: 50px;
    font-family: var(--font-family-2);
}

.top-text {
    display: inline-block;
    animation: moveLeft 15s linear infinite; 
}

.top-info .info-1, .top-info .info-2 {
    margin-left: 20px;
    font-family: var(--font-family-2);
}

/* Nav Bar*/

.navbar {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 0;
    height: 65px; 
}

@media (max-width: 768px) {
    .navbar {
        display: none; 
    }
}

.navbar .logo {
    position: absolute;
    left: 50%; 
    transform: translateX(-50%); 
}

.navbar .logo img {
    height: 250px;
    transform: translateY(5px); 
}

/* Adjust logo for desktop */
.navbar .logo {
    position: absolute;
    left: 50%; 
    transform: translateX(-50%); 
}

.navbar .logo img {
    height: 250px;
    transform: translateY(5px); 
}

/* Responsive adjustments for tablets */
@media (min-width: 769px) and (max-width: 1024px) {
    .navbar .logo {
        position: absolute;
        left: 51%;
        transform: translateX(-50%); 
    }

    .navbar .logo img {
        height: 180px; 
        transform: translateY(0px); 
        max-width: 100%; 
        height: auto; 
    }
}

.navbar nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin-left: 20px; 
    margin-right: auto; 
}

.navbar nav ul li {
    margin-right: 30px; 
}

.navbar nav ul li a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 500;
    display: block;
    font-size: 15px;
    padding: 10px 0;
    font-family: var(--font-family-2);
}

.arrow {
    width: 10px; /* Adjust size */
    height: auto;
    transform: translateY(-500px); 
    transform: translateX(-370px); 
}

.icon-container {
    display: flex; 
    align-items: center; 
}

.search img,
.cart img {
    height: 70px; 
    margin-left: 15px; 
} 

/* Dropdown Button */
.dropbtn {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 10px;
    font-size: 16px;
    border: none;
    font-family: var(--font-family-2);
    font-weight: 500;
    font-size: 15px;

  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-family: var(--font-family-2);
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  
  .dropdown-content a:hover {background-color: #ddd;}
 
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: var(--grey-color);}


/* Navbar Links */
.navbar nav ul li a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 500;
    display: block;
    font-size: 15px;
    padding: 10px 0;
    font-family: var(--font-family-2);
    transition: color 0.3s ease, transform 0.3s ease;
}

/* Hover Effect for Navbar Links */
.navbar nav ul li a:hover {
    color: #ddd; 
    transform: scale(1.1); 
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}

/* Dropdown button hover state */
.dropdown:hover .dropbtn {
    color: #ddd; 
}

/* Default hidden state for mobile nav */
.mobile-nav.hidden ul {
    display: none; 
    flex-direction: column;
    background-color: var(--primary-color);
    padding: 10px 20px;
    position: absolute;
    top: 60px; 
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Hamburger icon for mobile */
.hamburger {
    display: none; 
    cursor: pointer;
    /* padding: 10px; */
}

/* Style for hamburger icon */
.burger-icon {
    width: 30px; 
    height: 30px; 
    margin-bottom: 15px;
    margin-right: 320px;
}

/* Style for search icon */
.search-icon {
    width: 25px; 
    height: auto;
    margin-left: 20px; 
    object-position: right;
}

/* Style for cart icon */
.cart-icon {
    width: 25px;
    height: auto;
    object-position: right;
}

/* Default hidden Lumen logo to prevent white space */
.lumen-logo {
    display: none; 
    width: 150px;
    margin: 0;
    padding: 0;
}

/* Show the logo only on mobile viewports (screens smaller than 768px) */
@media (max-width: 768px) {
    .lumen-logo {
        display: block;  
        position: absolute;  
        top: 0;
        left: 50%;  
        transform: translate(-52%, 10px);  
        width: 150px;
        margin: 0;  
        padding: 0;  
    }
}
  /* Show the logo only on mobile viewports (screens smaller than 768px) */
  @media (max-width: 768px) {
    .lumen-logo {
      display: block;
    }
  }

/* Mobile nav link styling */
.mobile-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 30px;
}

.mobile-nav ul li {
    margin: 10px 0;
}

.mobile-nav ul li a {
    color: var(--secondary-color);
    font-weight: 500;
    font-family: var(--font-family-2);
    font-size: 18px;
    text-decoration: none;
}




/* Media query for mobile (max-width 768px) */
@media (max-width: 768px) {
    .hamburger {
        display: block; 
    }

    .mobile-nav ul {
        display: flex;
    }

    /* Menu should be hidden initially */
    .mobile-nav ul.hidden {
        display: none;
    }
}

/* Show menu when it's active (on mobile) */
.mobile-nav.show ul {
    display: flex; 
}

/* Media Queries */

/* Tablet View (between 630px and 1024px) */
@media only screen and (min-width: 630px) and (max-width: 1024px) {
    .navbar .logo img {
        height: 180px;
    }
    .navbar nav ul li {
        margin-right: 15px;
    }
    .navbar nav ul li a {
        font-size: 14px;
    }
    .icon-container .search img,
    .icon-container .cart img {
        height: 50px;
    }
}

/* Mobile View (max-width: 629px) */
@media only screen and (max-width: 629px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
        padding: 10px;
    }
    .navbar .logo img {
        height: 100px;
        margin-bottom: 20px;
    }
    .navbar nav ul {
        flex-direction: column;
        align-items: flex-start;
        margin: 0;
        padding: 0;
    }
    .navbar nav ul li {
        margin-right: 0;
        margin-bottom: 10px;
    }
    .navbar nav ul li a {
        font-size: 14px;
    }
    .icon-container .search img,
    .icon-container .cart img {
        height: 40px;
        margin-left: 10px;
    }
}

/* Tablet View (between 630px and 1024px) */
@media only screen and (min-width: 630px) and (max-width: 1024px) {
    .navbar .logo img {
        height: 10vw; 
        max-height: 180px;
        min-height: 60px;
    }
}

/* Mobile View (max-width: 629px) */
@media only screen and (max-width: 629px) {
    .navbar .logo img {
        height: 15vw; 
        max-height: 120px;
        min-height: 50px;
    }
}


.shipment-details-section {
    margin-top: 40px;
}

.shipment-details-section h1 {
    font-family: var(--font-family-2);
    font-size: 3rem;
    margin-bottom: 40px;
    background-image: url('media/orderdetailspic.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 100px 0;
    text-align: center;
    color: var(--secondary-color);
    width: 100%; 
    transform: translate(0, 0); 
}

.shipment-details-section span {
    right: 1000px;
}

.shipment-details-section h2 {
    position: relative;
    top: -270px;
    left: 20px;
    font-size: 2rem;
    text-align: left;
    color: var(--primary-color);
    font-size: 12px;
    font-family: var(--font-family-2);
    font-weight: 100px;
    color: var(--secondary-color);
}

.small-nav a {
    color: white;
    text-decoration: none;
}

.small-nav a:visited {
    color: white;
}

.small-nav a:hover {
    color: white;
    text-decoration: underline;
}

.small-nav a:active {
    color: white;
}

/* Checkout Section */
.checkout-container {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    background-color: var(--secondary-color);
    gap: 20px; 
    font-family: var(--font-family-2); 
}

/* Left Section: Order Summary & Payment */
.left-section {
    width: 45%;
}

.left-section h2 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 20px;
    font-family: var(--font-family-2); 
}

.order-summary,
.payment-method {
    background-color: var(--accent-color);
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 8px; 
    font-family: var(--font-family-2);
}

.order-summary h3,
.payment-method h3 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
    font-family: var(--font-family-2);
}

.order-summary p,
.payment-method label {
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 400;
    font-family: var(--font-family-2); 
}

.credit-card-info label {
    display: block;
    margin-top: 15px;
    font-weight: 500;
    font-family: var(--font-family-2); 
}

.credit-card-info input {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    border: 1px solid var(--input-border-color);
    border-radius: 5px;
    font-size: 14px;
    font-family: var(--font-family-2); 
}

.credit-card-info input:focus {
    border-color: var(--input-focus-border-color); 
    outline: none;
}

.expiration {
    display: flex;
    gap: 10px;
}

.expiration input {
    width: 50%; 
    font-family: var(--font-family-2);
}

.payment-method input[type="radio"] {
    margin-right: 10px;
}

.proceed-btn {
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    border: none;
    padding: 15px;
    width: 100%;
    margin-top: 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    font-family: var(--font-family-2); 
}

.proceed-btn:hover {
    background-color: var(--button-hover-bg-color);
}

label .cash-input {
    margin-top: 40px;
    margin-bottom: 10px;
}

/* Right Section: Shipping Information */
.right-section {
    width: 45%;
    font-family: var(--font-family-2); 
}

.right-section h2 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 20px;
    font-family: var(--font-family-2); 
}

.shipping-form {
    background-color: var(--accent-color);
    padding: 20px;
    border-radius: 8px;
    font-family: var(--font-family-2); 
}

.shipping-form label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: 500;
    font-family: var(--font-family-2); 
}

.shipping-form input,
.shipping-form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid var(--input-border-color);
    border-radius: 5px;
    font-size: 14px;
    font-family: var(--font-family-2); 
}

.shipping-form input:focus,
.shipping-form textarea:focus {
    border-color: var(--input-focus-border-color);
    outline: none;
}

.shipping-form textarea {
    resize: vertical;
    min-height: 100px; 
}

.terms {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 14px;
    font-family: var(--font-family-2);
}

.terms input {
    margin-right: 10px;
}

.terms a {
    color: var(--highlight-color);
    text-decoration: none;
}

.terms a:hover {
    text-decoration: underline;
}

.save-shipping-btn {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    font-family: var(--font-family-2); 
}

.save-shipping-btn:hover {
    background-color: var(--button-hover-bg-color);
}



/* Footer */
.footer {
    padding: 75px;
    background-color: var(--primary-color);
    text-align: left;
    color: var(--secondary-color); 
}

.footer h1 {
    padding-bottom: 20px;
    font-family: var(--font-family-2);
    font-weight: 700;
    font-size: 20px;
}

.footer-links {
    display: flex;
    flex-direction: column; 
    text-align: left; 
    padding-bottom: 12px;
    font-family: var(--font-family-2);
    font-weight: 400;
}

.footer-links a {
    color: var(--secondary-color); 
    text-decoration: none;
    padding-bottom: 12px;
    font-family: var(--font-family-2);
    font-weight: 400;
}

.footer .social-media img {
    padding-top: 30px;
    padding-right: 20px;
}

.footer p {
    padding-top: 80px;
    font-family: var(--font-family-2);
    font-weight: 400;
    color: var(--grey-color);
}

.social-media a {
    text-decoration: none; 
    color: inherit; 
}

.social-media a:visited {
    color: inherit;
}



/* Media Queries for Responsiveness */
@media (max-width: 1200px) {
    .navbar .logo img {
        height: 200px; 
    }

    .intro-section {
        padding: 30px 20px;
    }

    .intro-text h2 {
        font-size: 3rem; 
    }

    .intro-text p {
        font-size: 22px; 
    }

    .precision-section h2 {
        font-size: 50px; 
    }
}

@media (max-width: 768px) {
    .navbar .logo img {
        height: 150px; 
    }

    .intro-section {
        flex-direction: column; 
    }

    .about-link {
        font-size: 16px; 
    }

    .precision-section h2 {
        font-size: 40px; 
    }
}

@media (max-width: 480px) {
    .navbar .logo img {
        height: 100px; 
    }

    .intro-section {
        padding: 20px 10px; 
    }

    .intro-text h2 {
        font-size: 2rem; 
    }
}

@media (max-width: 768px) {
    .checkout-container {
        flex-direction: column; 
        padding: 20px; 
    }

    .left-section,
    .right-section {
        width: 100%; 
    }

    .shipment-details-section h1 {
        font-size: 2rem; 
    }

    .shipment-details-section h2 {
        font-size: 1.5rem; 
    }
}

/* Animation for moving the text continuously to the left */
@keyframes moveLeft {
    100% {
        transform: translateX(2000px); 
    }
    0% {
        transform: translateX(-100%); 
    }
}

/* Print Styles */
@media print {
    body {
        -webkit-print-color-adjust: exact; 
        print-color-adjust: exact;
        color: var(--primary-color);
        background: white;
    }
    .navbar, .top-info {
        display: none;
    }
    .mobile-nav {
        display: none; 
    }
    .header {
        position: static; 
    }
}




